 <div class="row">
  <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns">
    <h2 class="text-center">Settings</h2>
    <div class="small-6 small-centered medium-4 medium-centered large-2 large-centered columns">
      <hr>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend>About You</legend>
        <div class="row">
          <div class="small-12 column">
            <%= f.label :name %>
            <%= f.text_field :name, autofocus: true %>
          </div>
        </div>
        
        <div class="row">
          <div class="small-12 column">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </div>
        </div>
      </fieldset>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <fieldset>
        <legend>Security</legend>
        <div class="row">
          <div class="small-12 columns">
            <%= f.label :password  %>
            <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
      </fieldset>

      <div class="row">
        <div class="small-11 small-centered column">
          <%= f.label :current_password %><i><small>(Please enter your current password to confirm changes)</small></i>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

      <div class="row">
        <div class="small-6 small-centered column">
          <%= f.submit "Save", class: "button round expand" %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-6 small-centered column">
        <%= link_to "Cancel my account", registration_path(resource_name), class: "button alert round expand",data: { confirm: "Are you sure?" }, method: :delete %>
      </div>
    </div>
  </div>
</div>