<div id="trianglify-register">
  <div class="row pull-down">
    <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns">
      <div class="small-6 small-centered column text-center">
        <i class="fa fa-users fa-3x"></i>
      </div>
      <div class="small-12 column">
        <h2 class="text-center">Sign up</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { "data-abide" => '' } ) do |f| %>
        <%= devise_error_messages! %>

        <div class="row">
          <div class="small-12 column name-field">
            <label>Your name <small>required</small>
            <%= f.text_field :name, autofocus: true, "required pattern" => "[a-zA-Z]+" %>
            </label>
            <small class="error">Name is required and must be a string.</small>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <label>Email <small>required</small>
            <%= f.email_field :email  %>
            </label>
            <small class="error">An email address is required.</small>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <%= f.label :password %>
            <%= f.password_field :password %>
          </div>
        </div>

        <div class="row">
          <div class="small-12 column">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>
        <div class="row">
          <div class="small-6 small-centered columns">
            <%= f.submit "Sign up", class: "button primary round expand" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>