<div id="trianglify-register">
	<div class="row">
		<div class="small-12 small-centered medium-8 medium-centered large-5 large-centered columns">
			<h4 class="text-center">Forgot your password?</h4>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="row">
			  	<div class="small-3 column">
			  		<%= f.label :email, class: "right inline" %>
			  	</div>
			  	<div class="small-9 column">
			  		<%= f.email_field :email, autofocus: true, id: "right-label" %>
			  	</div>
			  </div>

			  <div class="row">
			  	<div class="small-12 small-centered column">
			  		<%= f.submit "Send me reset password instructions", class: "button round expand" %>
			  	</div>
			  </div>
			<% end %>
		</div>
	</div>
</div>