<div id="trianglify-register">
	<div class="row pull-down">
	  <div class="small-12 small-centered medium-8 medium-centered large-6 large-centered columns">
	  <div class="small-6 small-centered column text-center">
        <i class="fa fa-user fa-3x"></i>
      </div>
	  <div class="small-12 column">
	  	<h2 class="text-center">Sign in</h2>
	  </div>
		<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { "data-abide" => '' }) do |f| %>

		<div class="row">
		  <div class="small-12 column">
		  	<label>Email <small>required</small>
		    <%= f.email_field :email, autofocus: true %>
		    </label>
		    <small class="error">An email address is required.</small>
		  </div>
		</div>

		<div class="row">
		  <div class="small-12 column">
		  	<label>Password <small>required</small>
		    <%= f.password_field :password, autocomplete: "off" %>
		    </label>
		  </div>
		</div>
		<% if devise_mapping.rememberable? -%>
		  <div class="row">
		  	<div class="small-5 column">
		  		<div class="switch round tiny right">
		  			<%= f.check_box :remember_me, id: "user_remember_me" %> <%= f.label :remember_me %>
		  		</div>
		  	</div>
		  	<div class="small-7 column">
		  		<em class="test-left">Remember me?</em>
		  	</div>
		  </div>
		<% end -%>

		<div class="row">
			<div class="small-6 small-centered column">
				<%= f.submit "Sign In", class: "button round expand" %>
			</div>
		</div>
		<% end %>
		<%= render "devise/shared/links" %>
	  </div>
	</div>
</div>