<div id="trianglify">
	<div class="row">
		<div class="small-12 small-centered columns">
			<h1 class="text-center">Write your story</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered medium-10 medium-centered large-8 large-centered columns">
		<%= form_for(@post) do |f| %>
			<div class="preview">	
				<div class="row">
					<div class="small-12 column">
						<%= f.label :title, "Title here" %>
						<%= f.text_field :title, :placeholder => "Start typing your idea here..." %>
					</div>
				</div>
				<div class="row">
					<div class="small-12 column">
						<%= f.label :body, "Article" %>
						<%= f.text_area :body, id: "expand",:placeholder => "Either write something worth reading or do something worth writing. Benjamin Franklin"  %>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="small-6 small-centered column">
					<%= f.submit "Publish", class: "button round expand" %>
				</div>
		  	</div>
		<% end %>
	</div>
</div>
