<div id="author" class="row">
	<div class="small-12 small-centered medium-12 medium-centered large-10 large-centered columns">
		<h3><%= link_to @post.user.name.upcase, profile_path(@post.user) %></h3>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered medium-12 medium-centered large-10 large-centered columns">
		<h1><%= @post.title %></h1>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered medium-12 medium-centered large-10 large-centered columns">
		<p><%= simple_format(@post.body) %></p>
	</div>
</div>
<div class="row">
	<div class="small-12 small-centered medium-12 medium-centered large-10 large-centered columns">
		<em>
			By <%= link_to @post.user.name.capitalize, profile_path(@post.user) %> <%= time_ago_in_words(@post.created_at)%> ago.
		</em>
		<% if @post.user == current_user %>
			<em><%= link_to "Edit Article", edit_post_path(@post) %></em>
		<% end %>
	</div>
</div>
<div class="row">
	<div class="small-6 small-centered medium-4 medium-centered large-2 large-centered columns">
		<div id="karma">
			<%= render 'karma' %>
		</div>
	</div>
</div>