
<h3><%= @post.title %></h3>
<p><%= @post.body %></p>
<p>by <%= link_to @post.user.name.capitalize, profile_path(@post.user) %> <%= time_ago_in_words(@post.created_at)%> ago</p>
<br />
<%= link_to "Edit", edit_post_path(@post) %>