<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Karma Blogger" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render partial: 'layouts/navbar' %>
    <% flash.each do |type, message| %>
    <div data-alert class="flash alert-box text-center <%= type %>">
      <%= message %>
        <a href="#" class="close">&times;</a>
    </div>
    <% end %>
    <div class="row collapse">
      <div class="small-12 small-centered columns">
        <%= yield %>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>